<section id="compareWaste" class="compare-waste grid-container">
    <div class="compare-waste__inner">
        <h2 class="compare-waste__inner__header">Wanneer wordt het afval opgehaald?</h2>
        <p class="compare-waste__inner__text">
            In deze visualisatie geven we de hoeveelheid afval per dag weer*.
            Hier kun je drukke en minder drukke dagen per buurt met elkaar vergelijken.
            Met extra data kunnen wij een beter beeld vormen van de hoeveelheid afval per dag per buurt.
        </p>

        <div id="compareWasteChart" class="compare-waste__inner__chart"></div>
        <label class="compare-waste__inner__legend__label">
            *Amsterdam is het gemiddelde van alle beschikbare data.
            Een geselecteerde wijk is altijd het totaal.
        </label>
    </div>
</section>