<section class="compare-waste grid-container">
    <div class="compare-waste__inner">
        <h2 class="compare-waste__inner__header">Wanneer wordt het afval opgehaald?</h2>
        <p class="compare-waste__inner__text">
            In deze datavisualisatie wordt de hoeveelheid afval weer gegeven.
            De data is momenteel nog niet compleet voor heel Amsterdam. Als meer vuilnishandelaren meedoen,
            krijgen wij een duidelijker beeld van het bedrijfsafval in Amsterdam.
        </p>

        <div id="compareWasteChart" class="compare-waste__inner__chart"></div>
    </div>
</section>