<section id="dataShared" class="data-shared grid-container">
    <div class="data-shared__chart">
        <div id="dataSharedChart" class="data-shared__chart__inner"></div>
    </div>
    <div class="data-shared__inner">
        <h2 class="data-shared__inner__header">Data in beeld</h2>
        <span class="data-shared__inner__text">
            Naar schatting is er op dit moment 15% van al het bedrijfsafval data bekend.
            Zodra afvalbedrijven haar data zal delen zal gemeente Amsterdam een duidelijker
            beeld krijgen van de afvalverwerking en kan er slimmer samengewerkt worden.
        </span>
        {{!-- <img src="../static/images/tijd.gif"> --}}
    </div>
</section>

<script type="module">
    import * as pieChart from "../static/js/dataSharedPieChart.js";

    pieChart.draw();
</script>