<nav class="global-nav">
    <h1 class="global-nav__header">Zero Waste</h1>
    <ul class="global-nav__menu">
        <li><a href="#">Zero Waste</a></li>
        <li><a href="#">Transparantie</a></li>
        <li><a href="#">Kaart</a></li>
        <li><a href="#">Route</a></li>
        <li><a href="#">Doe mee</a></li>
    </ul>
</nav>