<section id="intro" class="intro grid-container">
    <div class="intro__hero">
        <img class="yellow-smudge" src="./static/images/vlek-geel.gif" alt="">
        <img class="trash-cans" src="./static/images/vuilnisbakken.svg" alt="">
        <img class="garbage-truck" src="./static/images/vuilniswagen.svg" alt="">
    </div>
    <div class="intro__inner">
        <h1 class="intro__inner__header">Bedrijfsafval Amsterdam</h1>
        <p class="intro__inner__text">
            Zero waste Amsterdam streeft naar een efficiënter en schoner Amsterdam.
            Dit willen wij niet alleen bereiken door minder afvalproductie, maar ook door samen te werken.
            Bedrijfsafval kan slim worden opgehaald voor afval hergebruik.
            Kijk verder op de website hoe u kunt helpen om van Amsterdam een Zero Waste city te maken.
        </p>
    </div>
</section>