<section class="intro grid-container">
    <div class="intro__hero">
        <img class="yellow-smudge" src="./static/images/vlek-geel.gif" alt="">
        <img class="trash-cans" src="./static/images/vuilnisbakken.svg" alt="">
        <img class="garbage-truck" src="./static/images/vuilniswagen.svg" alt="">
    </div>
    <div class="intro__inner">
        <h1 class="intro__inner__header">Bedrijfsafval Amsterdam</h1>
        <p class="intro__inner__text">
            De Zero Waste City aanpak is een voortdurende inspanning om geleidelijk afval -
            niet door verbranding of storten - maar in plaats daarvan door het creëren en
            implementeren van systemen die geen afval produceren in de eerste plaats.
        </p>
    </div>
</section>