<section id="mapAms" class="map grid-container">
    <div class="map__inner">
        <h2 class="map__inner__header">Waar wordt het afval opgehaald?</h2>
        <p class="map__inner__text">
            In deze kaart geven we het aantal afvalzakken per buurt weer.
            Dit gaat over de data die bij ons bekend is, slechts 15%. Zodra er meer data bekend is,
            zal deze kaart worden geüpdatet.
        </p>
        <svg width="900" height="800" id="map"></svg>
    </div>
</section>