<section class="map grid-container">
    <div class="map__inner">
        <h2 class="map__inner__header">Waar wordt het afval opgehaald?</h2>
        <p class="map__inner__text">
            In de volgende kaart wordt het bedrijfsafval weergegeven.
            De gegevens zijn alleen van het afvalbedrijf die wel transparant is.
        </p>
        <svg width="900" height="800" id="map"></svg>
    </div>
</section>

<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>

<script type="module">
import * as map from "../static/js/wasteMap.js";

map.drawMap();
</script>