<section class="map main-container">
    <svg width="900" height="800" id="map"></svg>
</section>

<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
<script src="https://d3js.org/topojson.v2.min.js"></script>

<script type="module">
import * as map from "../static/js/wasteMap.js";

map.drawMap();
</script>