
<section id="routesContainer" class="routes">
    <div class="routes__inner grid-container">
        <h2 class="routes__header">Hoe wordt het afval opgehaald?</h2>
        <p class="routes__text">
            Hier worden twee mogelijke afvalstromen weergeven van de door u gekozen dag en buurt.
            Als het bekend is hoe en wanneer het afval wordt opgehaald, kan er een worden samengewerkt
            aan aan een efficiënte flow van afvalverwerking.
        </p>
    </div>
    <div class="routes__inner grid-container">
        <div id="routes" class="routes__inner__route"></div>
        <div id="clock" class="routes__inner__clock"></div>
    </div>
    <div class="routes__legend grid-container">
        <h3 class="routes__legend__header">Legenda</h3>
        <ul class="routes__legend__stream">
            <li class="legend__stream__known">Afvalstroom bekend bij Zero waste</li>
            <li class="legend__stream__user">Mogelijke Afvalstroom</li>
        </ul>
        <ul class="routes__legend__pickup">
            <li class="legend__pickup__false">Niet opgehaald afval</li>
            <li class="legend__pickup__vehicle">Vuilniswagen</li>
        </ul>
    </div>
</section>

<script src="./static/js/lottie.js"></script>

<script>
const animationTijd = bodymovin.loadAnimation({
    container: document.getElementById('clock'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: './static/data/src/svgClock.json'
})

const animationRoute = bodymovin.loadAnimation({
    container: document.getElementById('routes'),
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: './static/data/src/svgRoutes.json'
})
</script>