<section id="transparencyContainer" class="transparency grid-container">
    <div class="transparency__inner">
        <h2>Transparantie</h2>
        <p class="transparency__inner__text">
            De huidige situatie zorgt voor <em id="scrollHighlight1" class="scroll-highlight">ergernis bij de bedrijven</em> waar vuilnis wordt opgehaald.
            Verschillende bedrijven hebben openingstijden die niet matchen met de ophaaltijden van het vuilnis.
            Meer bedrijven in Amsterdam streven ernaar om minder afval te produceren, maar als gevolg daarvan
            krijgen zij boetes omdat zij niet de hoeveelheid afval hebben als afgesproken in het contract
            met de vuilnishandelaar.
        </p>
        <p class="transparency__inner__text">
            Als meer vuilnisophalers transparanter zijn, kan er een <em id="scrollHighlight2" class="scroll-highlight">efficiëntere stroming</em> zijn van het bedrijfsafval.
            De gemeente Amsterdam kan dan beter in kaart brengen waar de pijnpunten liggen en daar samen oplossingen
            voor bedenken. In 2020 streven wij naar een schoner Amsterdam.
            <em id="scrollHighlight3" class="scroll-highlight">Deel je data</em> en draag je steentje bij aan Zero Waste city.
        </p>
    </div>
</section>

<script>
const highlights = document.querySelectorAll('.scroll-highlight');

window.onscroll = function() {
  highlight();
};

function highlight() {
  highlights.forEach( function (item){
    const rect = item.getBoundingClientRect();
    if (rect.top <= 300) item.classList.add("active");
  });
}
</script>