<section id="transparencyContainer" class="transparency grid-container">
    <div class="transparency__inner">
        <h2>Transparantie</h2>
        <p class="transparency__inner__text">
          De huidige situatie zorgt voor <em id="scrollHighlight1" class="scroll-highlight">ergernis bij de bedrijven</em> waar vuilnis wordt opgehaald.
          Verschillende bedrijven hebben openingstijden die niet matchen met de ophaaltijden van het vuilnis.
          Meer bedrijven in Amsterdam streven ernaar om <em id="scrollHighlight2" class="scroll-highlight">minder afval te produceren</em>, maar als gevolg daarvan krijgen
          zij boetes omdat zij niet de hoeveelheid afval hebben als afgesproken in het contract met de vuilnis handelaar.
        </p>
        <p class="transparency__inner__text">
          Als meer vuilnisophalers <em id="scrollHighlight3" class="scroll-highlight">samenwerken</em>, kan er een efficiëntere stroming zijn van het bedrijfsafval.
          De gemeente Amsterdam kan beter in kaart brengen waar de mogelijkheden liggen en oplossingen voor
          bedacht kunnen worden. In 2020 streven wij naar een schonere stad. Kom in contact en draag je steentje
          bij aan Zero Waste Amsterdam.
        </p>
    </div>
</section>

<script>
const highlights = document.querySelectorAll('.scroll-highlight');

window.onscroll = function() {
  highlight();
};

function highlight() {
  highlights.forEach( function (item){
    const rect = item.getBoundingClientRect();
    if (rect.top <= 300) item.classList.add("active");
  });
}
</script>