<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Zero waste</title>
   	<link rel="stylesheet" type="text/css" href="../../static/dist/site.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    {{{body}}}
</body>
</html>